
trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

stages:
- stage: Dev
  displayName: "Dev"
  jobs:
  - deployment: DeployDev
    environment: dev
    strategy:
      runOnce:
        deploy:
          steps:
          - script: echo "Running in DEV"
            displayName: "Dev step"

- stage: QA
  displayName: "QA"
  jobs:   # No dependsOn so you can select only QA in 'Stages to run'
  - deployment: DeployQA
    environment: qa
    strategy:
      runOnce:
        deploy:
          steps:
          - script: echo "Running in QA"
            displayName: "QA step"

- stage: UAT
  displayName: "UAT"
  jobs:
  - deployment: DeployUAT
    environment: uat
    strategy:
      runOnce:
        deploy:
          steps:
          - script: echo "Running in UAT"
            displayName: "UAT step"

- stage: Prod
  displayName: "Prod"
  jobs:
  - deployment: DeployProd
    environment: prod
    strategy:
      runOnce:
        deploy:
          steps:
          - script: echo "Running in PROD"
            displayName: "Prod step"
