trigger:
- main


variables:
- group: WeatherStackSecret


pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '18.x'
  displayName: 'Install Node.js'

- script: |
    npm install -g newman newman-reporter-htmlextra
    newman run collections/weatherstack.postman_collection.json \
      --environment env/weatherstack_env.json \
      --reporters cli,htmlextra \
      --reporter-htmlextra-export newman/report.html
  displayName: 'Run WeatherStack API Test'
  env:
    access_key: $(WEATHERSTACK_KEY)

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: 'newman'
    ArtifactName: 'WeatherStackReport'
    publishLocation: 'Container'
